:root {
  font-family: inter-var, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  font-size: 16px;
  --color-forest: rgb(137, 229, 180);
  --color-accent: rgb(105, 152, 220);
  --color-night: rgb(62, 47, 190);
  --color-darknight: rgb(47, 11, 101);
  --color-background: rgb(10, 11, 34);
  --color-fire-red: #f73718;
  --color-fire-orange: #fbb741;
  background-color: rgb(10, 11, 34);
  color: whitesmoke;
}
body {
  margin: 0px;
  -webkit-text-size-adjust: 100%;
}
